body{
    background-color: rgb(243, 250, 241);
} 
 ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: black; 
    font-size: 20px;
    margin-left: 50px;
background-color: rgb(226, 230, 27);
height: 20px;
margin: 50px;
padding: 20px;
 }