
.logIn{
    margin: 300px;
    background-color: rgba(238, 178, 130, 0.753);
    text-align: center;
    padding: 50px;
    font-size: larger;
    margin: 50px;
}
.inpLog1{
   height: 50px;
   width: 50%;
   font-style: italic;
   font-size: 20px;
}
.inpLog2{
    height: 50px;
    width:50%;
    font-style: italic;
    font-size: 20px;
}

.imgSize{
    width: 15%;
    border-radius: 30px;
}
button{
    height: 50px; 
    width: 80px;
    border-radius: 30px;
    margin-top: 10px;
}